.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 4px solid #747474;
}

.userContent {
  display: flex;
  align-items: center;
  justify-content: center;
}
.userContent p {
  margin: 15px;
}
